.main {
  min-height: 100vh;
}
.sidebar {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.5s;
}
.sidecontent {
  width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 0.4s;
  z-index: 101;
  background-color: #01070ef2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 40px;
  color: white;
}
.sidecontent ul {
  margin: 0;
  width: 100%;
}
.sidecontent ul li {
  width: 90%;
  background-color: #0078ff;
  list-style-type: none;
  margin: 15px auto;
  padding: 15px 20px;
  border-radius: 30px;
}
.sidecontent ul li i {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}
.sidebar > div.active {
  background-color: #0078ff;
  color: #f2f3f5;
}
.sidebar > div {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f3f5;
  border-radius: 50%;
  transition: 0.5s;
  margin: 10px 0;
  color: #0078ff;
}
.hero {
  width: 100%;
  height: 700px;
  position: relative;
  background-position: right;
}
.hero .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.87);
  z-index: 1;
}
.hamburger {
  position: fixed;
  right: 30px;
  color: white;
  top: 30px;
  right: 20px;
  transition: 0.5s;
  z-index: 1000;
  display: none;
  font-size: 25px;
  transform: translateY(-50%);
}

.banner {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.hero img {
  object-fit: cover;
}
.name {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  font-size: 55px;
}
.type {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  font-size: 30px;
}
.socials {
  top: 60%;
  position: absolute;
  transform: translate(-50%, -60%);
  left: 50%;
  color: white;
  width: 90%;
  display: flex;
  justify-content: center;
  z-index: 100;
}
.socials i {
  color: #0078ff;
  font-size: 20px;
}
.socials a {
  margin: 0 15px;
}

/* //==--------------------------- HEADER ------------------------------ // */
.header {
  position: absolute;
  color: whitesmoke;
  z-index: 2;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  height: 90px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  font-size: 16.5px;
  font-weight: 100;
  color: #0078ff;
}

.header ul li {
  display: inline;
  margin: 10px 15px;
}

/* //==--------------------------- ABOUT ------------------------------ // */
.about {
  width: 100%;
  height: auto;
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 40px 20px;
  background-color: #060e16;
}
.about .card {
  width: 90%;
  /* background-color: #eee;
  box-shadow: 5px 9px 10px 0 rgba(143, 143, 143, 0.1),
    2.5px 9px 10px 0 rgba(143, 143, 143, 0.25); */
  transition: 0.5s;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  padding: 30px 15px;
  background-color: #031322;
}
.about .card > div {
  flex: 40%;
  height: auto;
  margin: 0 20px;
}
.about .card > div:nth-child(2) h2 {
  border-bottom: 4px solid #0078ff;
  padding-bottom: 10px;
  width: fit-content;
  font-size: 30px;
  color: white;
  margin-bottom: 40px;
}
.about .card p {
  color: #fff;
  line-height: 1.5;
  font-size: small;
  padding-right: 10px;
  /* text-align: justify; */
}
.meProfile {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 10px 5px;
  font-weight: lighter !important;
}
.meProfile img {
  object-fit: cover;
}
.deets {
  display: block;
  margin: 12px 0;
  font-size: 15.5px;
  color: #fff;
}
.deets > span {
  font-weight: 700;
  margin-right: 8px;
  color: #0078ff;
}
.meProfile > div:first-child {
  position: relative;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 10px;
}
.about h3 {
  color: #fff;
  padding: 30px 05px;
}
.skillGroup {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  color: white;
  margin: 7px 0;
}
.skillGroup span {
  padding-top: 10px;
}
.skillGroup .bar {
  background-color: #cde2f8;
  height: 10px;
}
.skillGroup .bar > div {
  background-color: #0078ff;
  width: 70%;
  height: 100%;
}
/* //==--------------------------- SERVICES ------------------------------ // */
.projects {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #031322;
  color: white;
}
.proj {
  width: 100%;
  height: auto;
  padding: 60px 0;
  background-color: #031322;
  color: white;
}
.proj h2 {
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 10px;
  width: fit-content;
  margin-right: auto;
  font-size: 26px;
  margin-left: auto;
  border-bottom: 2px solid #0078ff;
}

.projects > div {
  width: 85%;
  margin: auto;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.projects > div > div {
  height: 60px;
  flex: 19%;
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.count {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.count span {
  font-size: 23px;
  display: block;
}
.projects > div > div .icons {
  position: relative;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 55px;
  color: #0078ff;
  border: 2px solid #0078ff;
}

/* //==--------------------------- PORTFOLIO ------------------------------ // */

.portfolio {
  width: 100%;
  background: linear-gradient(#010d14, #010d14f3), url(/images/background.jpeg);
  padding: 20px;
  height: auto;
  padding-bottom: 60px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #010d1450;
}
.portfolio h2 {
  text-align: center;
  margin: 50px 0;
  padding-bottom: 10px;
  color: whitesmoke;
  font-size: 26px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 2px solid #0078ff;
}
.portfolio > h3 {
  color: white;
  text-align: center;
  font-weight: 100;
}
.portfolio .grid {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.portfolio .grid > div {
  flex: 28%;
  height: 360px;
  margin: 10px 13px;
  background-color: white;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.portfolio .grid > div .img {
  width: 100%;
  height: 70%;
  position: relative;
}
.img img {
  object-fit: cover;
}
.link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1.5px solid #0078ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0078ff;
}
.projectDetails {
  height: 30%;
  position: relative;
  padding: 15px 20px;
  font-size: small;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.projectDetails h3 {
  margin-bottom: 10px;
  font-size: 17px;
}
.projectDetails b {
  color: #0078ff;
}

.contact {
  width: 100%;
  padding: 40px 70px;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background: #031323;
  /* background: linear-gradient(#031323, #031323f1), url(/images/home-bg.jpeg); */
  padding-bottom: 100px;
  background-attachment: fixed;
}
.contact h3 {
  color: white;
  margin-bottom: 20px;
  font-weight: lighter;
  font-size: small;
}
.contact h2 {
  font-size: 26px;
  color: white;
  border-bottom: 2px solid #0078ff;
  padding-bottom: 10px;
  width: fit-content;
}

.contact .grid {
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.contact .grid > div {
  flex: 40%;
  margin: 15px;
  height: auto;
}
.contact .grid > div:first-child {
  display: flex;
  flex-flow: column wrap;
  padding-top: 20px;
}
.contactLinks > div {
  width: 100%;
  height: 100px;
  margin: 8px 0;
  display: flex;
  flex-flow: row wrap;
}
.linkDetails {
  display: flex;
  align-items: center;
  color: #0078ff;
  padding: 0 30px;
  font-weight: lighter;
}
.contact .grid .icons {
  background-color: #060e16;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0078ff;
  width: 100px;
  height: 100%;
  font-size: 25px;
}
.contact form {
  width: 80%;
  padding: 30px 0;
}
.contact form button {
  background-color: #060e16;
  color: #0078ff;
  outline: none;
  border: none;
  padding: 25px 30px;
}
.contact form .textArea {
  width: 100%;
  background-color: #010d14;
  color: white;
  border: none;
  padding: 20px 20px;
  margin-bottom: 30px;
}
.contact form input {
  width: 100%;
  background-color: #010d14;
  height: 50px;
  padding: 20px;
  color: white;
  margin: 10px 0;
  outline: none;
  border: none;
  font-size: 16px;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  color: white;
  font-weight: lighter;
}

@media screen and (max-width: 600px) {
  .name {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    font-size: 33px;
  }
  .type {
    top: 47%;
    transform: translateY(-47%);
    font-size: 22px;
  }
  .socials {
    top: 58%;
    transform: translate(-50%, -58%);
  }
  .socials a {
    margin: 0 15px;
  }
  .socials i {
    font-size: 24px;
  }
  .hamburger {
    display: block;
  }
  .header ul li {
    display: none;
  }
  .sidebar {
    left: -100%;
  }
  .projects > div {
    width: 95%;
  }
  .projects > div > div {
    justify-content: space-between;
    text-align: left;
  }
  .contact {
    width: 100%;
    padding: 40px 10px;
  }
  .contact .grid {
    flex-flow: column wrap;
  }
  .contact .grid > div {
    flex: 100%;
    margin: 30px 10px;
  }
  .contact form {
    width: 100%;
  }
  .linkDetails {
    padding: 0 20px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactLinks > div {
    width: 100%;
    height: 80px;
  }
  .contact .grid .icons {
    width: 80px;
    height: 80px;
  }

  .hero {
    height: 100vh;
  }
  .hero .overlay {
    background-color: rgba(0, 0, 0, 0.87);
  }
  .about {
    padding: 40px 10px;
  }
  .about .card {
    width: 100%;
  }
  .about .card p {
    padding-right: 0;
  }
  .about .card > div {
    flex: 100%;
    height: auto;
    margin: 20px 0px;
  }
  .meProfile {
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    font-weight: lighter !important;
  }
  .meProfile > div {
    margin: 15px 0;
  }
  .portfolio .grid > div {
    min-width: 250px;
    height: 290px;
    margin: 41px 0;
  }
}
